body {
  font-family: 'Droid Serif', serif;
  background-color: #555555;

  
}
img {
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
  padding-top: 8px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  margin-bottom: 20px;
  
}

button {
  height: 30px;
  min-width: 80px;
  background-color: #4C8AF5;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
/* Main Nav */
ul.main-nav {
  padding-left: 30px;
  background-color: rgb(34,34,34);
  opacity: 1;

}

.main-nav li {
  display: inline-block;
  margin: 0;
  
}

.main-nav a {
  display: block;
  color: #edec51;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;

}

.main-nav .active {
  background-color: #555555;
}

.cart {
  float: right;
  /* color: #edec51; */
}
/* End --- Main Nav */

/* Cart */

/* .cart {
  float: right;
  margin-right: 50px;

  border: 1px solid black;
  background-image: url('./icons/shoppingcart.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  color: tomato;
  position: relative;
  height: 40px;
  width: 40px;
  
  

}

.cart span {
  color: tomato;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold;
  position: absolute;
  top: 100;
  right: 0;
  bottom: 0;
  left: 100;
} */
/* End Cart */
ul.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.product-item {
  border: 1px solid black;
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
  float: left;
  /* width: 28.3333%; */
  /* max-width: 350px; */
  width: 365px;
	height: auto;
	margin: 2.5%;
}

/* ul.product-list li:nth-child(2n+1) {
  clear: left;
} */

.product-name, .product-price {
  text-align: center;
}

.orders-list {
  clear: left;
}

.add-cart-button,.remove-cart-button {
  float: right;
  margin-bottom: 8px;
  margin-right: 8px;

}

.remove-cart-button {
  background-color: #7B1D0E;
}



/***** Orders Page ******/
.order-search {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  width: 300px;
  
}

.order-search input {
  padding-left: 5px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.order-search button {
 margin-left: 8px;
 float: right;
 width: 80px;
}
.orderResults {
  width: 400px;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
  overflow: none;
}

.orderResults table {
  border: none;
  
  padding: 5px;
}
.orderResults th,tr,td {
  border: 1px solid black;
  border-collapse: collapse;
}



.orderResults table {
  margin: 10px 10px;
  width: auto;
  display: block;
}

.orderResults td {
  text-align: center;
}

.orderResults-modify {
  text-align: right;

  margin: 0 10px 10px 0;
}

.orderResults-modify button {
  background-color: #3273c5;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
}

.results-remove {
  background-color: #7B1D0E;
  height: 22px;
  min-width: 10px;
}
/* End Orders Page */

/* Add Product Form */
.addProduct-form {
  padding: 10px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.newProduct-label {
  display: block;
}

.addProduct-button {
  display: block;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: #4C8AF5;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}

/* End Add Product Form */