body {
  font-family: 'Roboto', serif;
  /* background-color: #555555; */
  background-color: #30302C;
  /* background-image: url('./icons/nebula1.png'); */
  background-attachment: fixed;

  height: 100%;
  margin: 0;
  padding: 0;

  
}

img {
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
  padding-top: 8px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  background-color: #474747;
  height: 45px;

}

textarea {
  resize: none;
  overflow: auto;
}

button {
  height: 30px;
  min-width: 80px;
  /* background-color: #4C8AF5; */
  background-color: #474747;
  outline: none;
  color: #ddd;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato';

  /* background: #7d7e7d; 
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 53%); 
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 53%); 
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 53%); */
}

/* Main Nav */
ul.main-nav {
  padding-left: 30px;
  opacity: 1;
  display: inline-block;
  height: 45px;
}

.main-nav li {
  display: inline-block;
  margin: 0;
  line-height: 45px;
  width: 105px;
  transition: background-color 150ms;
  
}

.main-nav li:hover {
  background-color: #30302C;
}

.main-nav a {
  display: block;
  color: #edec51;
  text-align: center;
  text-decoration: none;
  padding: 0px 10px;

}

.main-nav .active {
  background-color: #30302C;
}

.cart {
  float: right;
  color: #edec51;
  line-height: 45px;
  padding-right: 30px; 
}

.checkout {
  margin-right: 15px;
  color: #edec51;
  line-height: 35px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: 200ms;
}

.checkout:hover {
  border-bottom: 1.5px solid #edec51;
}
/* End --- Main Nav */

ul.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.product-item {
  /* border: 1px solid black; */
  /* background-color: rgba(255,255,255,0.75); */
  background-color: #BABABA;
  border-radius: 5px;
  float: left;
  /* width: 28.3333%; */
  /* max-width: 350px; */
  width: 365px;
	height: auto;
	margin: 2.5%;
}

.product-name, .product-price {
  text-align: center;
  margin-top: 8px;
}

.product-image:hover {
  cursor: pointer;
}
.orders-list {
  clear: left;
}

.add-cart-options {
  float: right;
}
.quantity-select {
  margin-right: 8px;
  border: 1px solid grey;
  border-radius: 3px;
}
.add-cart-button {
  color: #ddd;
}

.remove-cart-button {
  color: red;
}

.add-cart-button,.remove-cart-button {
  
  margin-bottom: 8px;
  margin-right: 10px;
  /* border: 1px solid #f7f7f7; */
  transition: 300ms;
  outline: none;
  position: relative;
  width: 110px;
}

.add-cart-button:hover {
  color: rgba(17,242,5,1);
}

.add-cart-button::after,.remove-cart-button::after {
  position: absolute;
  transition: 300ms;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;

}
.add-cart-button::after {
  background-color: rgba(17,242,5,1);
  
}

.remove-cart-button::after {
  background-color: red;
}

.add-cart-button:hover::after,.remove-cart-button:hover::after {
  width: 100%;
  left: 0;
}


/***** Orders Page ******/
.order-search {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  width: 300px;
  
}

.order-search input {
  padding-left: 5px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.order-search button {
 margin-left: 8px;
 float: right;
 width: 80px;
}
.orderResults {
  width: 400px;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
  overflow: none;
}

.orderResults table {
  border: none;
  
  padding: 5px;
}
.orderResults th,tr,td {
  border: 1px solid black;
  border-collapse: collapse;
}



.orderResults table {
  margin: 10px 10px;
  width: auto;
  display: block;
}

.orderResults td {
  text-align: center;
}

.orderResults-modify {
  text-align: right;

  margin: 0 10px 10px 0;
}

.orderResults-modify button {
  margin-right: 8px;
}

.results-remove {
  color: #e15021;
  height: 22px;
  min-width: 10px;
  cursor: pointer;
}

.results-remove:hover {
  text-decoration: underline;
}
/* End Orders Page */

/* Add Product Form */
.addProduct-form {
  padding: 10px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.newProduct-label {
  display: block;
}

.add-product-confirm {
  display: block;
  margin-bottom: 8px;
  margin-right: 8px;
}
.add-product-confirm:hover {
  color: #3273c5;
}



.ReactModal__Body--open {
  overflow: hidden;
}

/* End Add Product Form */

/***** Details Modal ***** */

.product-details-wrapper {
  display: block;
  margin: 15px auto;
  max-width: 600px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  clear: right;
}
.product-details-wrapper img {
  padding: 0;
  float: left;
  margin-right: 15px;
}

.prodcut-details-container {
  float: left;
}

.product-details-wrapper .product-name {
  margin: 10px auto;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.product-details-wrapper .product-price {
  font-weight: bold;
}

.product-details-wrapper::after {
  content: '';
  display: block;
  clear: both;
}

.modalClose {
  float: right;
  display: block;
  margin-bottom: 15px;
}
.modalClose::after {
  content: '';
  clear: right;
  display: block;
}

/**** Edit Details Form *****/

.edit-toggle {
  cursor: pointer;
  text-decoration: underline;
  color: #3273c5;
}
.edit-form {
  border-top: 1px solid #BABABA;
  display: block;
  margin: 10px auto;
  width: auto;
  font-size: .85em;
  padding: 5px;
}

.edit-form input {
  padding-left: 5px;
}

.edit-form label {
  display: block;
  margin-top: 3px;
}

.edit-form textarea {
  resize: none;
  overflow: auto;
}

.edit-form p {
  margin: 0;
  margin-bottom: 8px;
}

.edit-container-left, .edit-container-right {
  margin-right: 15px;
  float: left;

}

.edit-form button {
  clear: both;
  display: block;
  margin-top: 8px;
}



