body {
  font-family: 'Droid Serif', serif;
  /* background-color: #555555; */
  background-color: #901808;

  
}
img {
  height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
  padding-top: 8px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  margin-bottom: 20px;
  background-color: rgb(34,34,34);
  height: 45px;
  
}

button {
  height: 30px;
  min-width: 80px;
  /* background-color: #4C8AF5; */
  background-color: rgb(34,34,34);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 53%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 53%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* Main Nav */
ul.main-nav {
  padding-left: 30px;
  opacity: 1;
  display: inline-block;

}

.main-nav li {
  display: inline-block;
  margin: 0;
  
}

.main-nav li:hover {
  background-color: #555555;
}

.main-nav a {
  display: block;
  color: #edec51;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;

}

.main-nav .active {
  background-color: #555555;
}

.cart {
  float: right;
  color: #edec51;
  line-height: 35px;
  padding-right: 30px; 
}

.checkout {
  margin-right: 15px;
  color: #edec51;
  line-height: 35px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: 200ms;
}

.checkout:hover {
  border-bottom: 1.5px solid #edec51;
}
/* End --- Main Nav */

ul.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.product-item {
  /* border: 1px solid black; */
  /* background-color: rgba(255,255,255,0.75); */
  background-color: #474747;
  /* border-radius: 4px; */
  float: left;
  /* width: 28.3333%; */
  /* max-width: 350px; */
  width: 365px;
	height: auto;
	margin: 2.5%;
}

.product-name, .product-price {
  text-align: center;
  margin-top: 8px;
}

.product-image:hover {
  cursor: pointer;
}
.orders-list {
  clear: left;
}

.add-cart-options {
  float: right;
}
.quantity-select {
  margin-right: 8px;
  border: 1px solid grey;
  border-radius: 3px;
}
.add-cart-button {
  color: #00cc00;
}

.remove-cart-button {
  color: red;
}

.add-cart-button,.remove-cart-button {
  
  margin-bottom: 8px;
  margin-right: 10px;
  border: 1px solid #f7f7f7;
  transition: 300ms;
  outline: none;
  position: relative;
  width: 110px;
  
}

.add-cart-button::after,.remove-cart-button::after {
  position: absolute;
  transition: 300ms;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;

}
.add-cart-button::after {
  background-color: rgba(17,242,5,1);
}

.remove-cart-button::after {
  background-color: red;
}

.add-cart-button:hover::after,.remove-cart-button:hover::after {
  width: 100%;
  left: 0;
}


/***** Orders Page ******/
.order-search {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  width: 300px;
  
}

.order-search input {
  padding-left: 5px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.order-search button {
 margin-left: 8px;
 float: right;
 width: 80px;
}
.orderResults {
  width: 400px;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.85);
  overflow: none;
}

.orderResults table {
  border: none;
  
  padding: 5px;
}
.orderResults th,tr,td {
  border: 1px solid black;
  border-collapse: collapse;
}



.orderResults table {
  margin: 10px 10px;
  width: auto;
  display: block;
}

.orderResults td {
  text-align: center;
}

.orderResults-modify {
  text-align: right;

  margin: 0 10px 10px 0;
}

.orderResults-modify button {
  margin-right: 8px;
}

.results-remove {
  color: red;
  height: 22px;
  min-width: 10px;
}
/* End Orders Page */

/* Add Product Form */
.addProduct-form {
  padding: 10px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.newProduct-label {
  display: block;
}

.addProduct-button {
  display: block;
  margin-bottom: 8px;
  margin-right: 8px;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}

/* End Add Product Form */

/***** Details Modal ***** */

.product-details-wrapper {
  display: block;
  margin: 15px auto;
  max-width: 600px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  clear: right;
}
.product-details-wrapper img {
  padding: 0;
  float: left;
  margin-right: 15px;
}

.prodcut-details-container {
  float: left;
}

.product-details-wrapper .product-name {
  margin: 10px auto;
  display: block;
  padding-top: 10px;
  text-align: center;
}

.product-details-wrapper .product-price {
  font-weight: bold;
}

.product-details-wrapper::after {
  content: '';
  display: block;
  clear: both;
}

.modalClose {
  float: right;
  display: block;
  margin-bottom: 15px;
}
.modalClose::after {
  content: '';
  clear: right;
  display: block;
}

/* .product-details-container p {
  word-wrap: break-word;
} */
